{% extends 'orders/base.html' %}
{% load static %}

{% block title %}Master Siklus | Si-BASMA{% endblock %}

{% block content %}
<main class="app-main">

    <!-- HEADER -->
    <div class="app-content-header">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">
                        Master Siklus
                    </h3>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>

                        <li class="breadcrumb-item active">
                            Master Siklus
                        </li>
                    </ol>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid mt-3">

        <div class="row justify-content-center">

            <div class="col-lg-10">

                <!-- FILTER -->
                <div class="card mb-3">

                    <div class="card-body">

                        <form method="get"
                            class="row g-2 align-items-center">

                            <!-- SEARCH -->
                            <div class="col-md-9">

                                <input type="text"
                                    name="q"
                                    class="form-control"
                                    placeholder="Cari siklus..."
                                    value="{{ q }}">

                            </div>

                            <!-- BUTTON FILTER -->
                            <div class="col-md-1">

                                <button class="btn btn-secondary btn-sm">

                                    <i class="bi bi-search"></i>
                                    Cari

                                </button>

                            </div>

                            <!-- BUTTON TAMBAH -->
                            <div class="col-md-2 text-end">

                                <button type="button"
                                        class="btn btn-success btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalTambahSiklus">

                                    <i class="bi bi-plus-circle"></i>
                                    Tambah Siklus

                                </button>

                            </div>

                        </form>

                    </div>

                </div>

                <!-- TABLE -->
                <div class="card mb-4">

                    <div class="card-header" style="background-color: #025697; color: aliceblue;">
                        <h3 class="card-title">
                            Daftar Siklus
                        </h3>
                    </div>

                    <div class="card-body">

                        <table class="table table-bordered table-hover">

                            <thead class="text-center">
                                <tr>
                                    <th>#</th>
                                    <th width="20%">Siklus</th>
                                    <th>Keterangan</th>
                                    <th width="20%">Aksi</th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for siklus in siklus_list %}
                                <tr class="align-middle">

                                    <td style="text-align: center;">
                                         {{ forloop.counter0|add:page_obj.start_index }}
                                    </td>

                                    <td style="text-align: center;">

                                        <span class="text-dark">
                                            {{ siklus.nama }}
                                        </span>

                                    </td>

                                    <td>
                                        {{ siklus.keterangan }}
                                    </td>

                                    <td style="text-align: center;">

                                        <!-- DETAIL -->
                                        <a href="{% url 'siklus_detail' siklus.id %}" 
                                            class="btn btn-primary btn-sm" 
                                            title="Kelola Bahan">
                                            <i class="bi bi-database-fill-gear"></i>
                                        </a>

                                        <!-- EDIT -->
                                        <button type="button"
                                                class="btn btn-warning btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#modalEdit{{ siklus.id }}">

                                            <i class="bi bi-pencil-fill"></i>

                                        </button>

                                        <!-- DELETE -->
                                        <form method="post"
                                            action="{% url 'siklus_delete' siklus.id %}"
                                            class="d-inline form-delete">

                                            {% csrf_token %}

                                            <button type="submit"
                                                    class="btn btn-danger btn-sm">

                                                <i class="bi bi-trash"></i>

                                            </button>

                                        </form>

                                    </td>

                                </tr>

                                {% empty %}
                                <tr>

                                    <td colspan="4"
                                        class="text-center text-muted py-4">

                                        Data siklus belum ada

                                    </td>

                                </tr>

                                {% endfor %}

                            </tbody>

                        </table>

                        <!-- PAGINATION -->
                        <div class="d-flex justify-content-center mt-4">

                            <ul class="pagination pagination-sm m-0 float-end">

                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1{% if q %}&q={{ q }}{% endif %}">
                                        &laquo;
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link"
                                    href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}">
                                        Prev
                                    </a>
                                </li>
                                {% endif %}

                                <li class="page-item active">
                                    <span class="page-link">
                                        {{ page_obj.number }}
                                    </span>
                                </li>

                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                    href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}">
                                        Next
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link"
                                    href="?page={{ page_obj.paginator.num_pages }}{% if q %}&q={{ q }}{% endif %}">
                                        &raquo;
                                    </a>
                                </li>
                                {% endif %}

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- MODAL TAMBAH -->
    <div class="modal fade"
        id="modalTambahSiklus"
        tabindex="-1">

        <div class="modal-dialog">
            <div class="modal-content">

                <form method="post"
                    action="{% url 'siklus_create' %}"
                    class="form-tambah">

                    {% csrf_token %}

                    <div class="modal-header">

                        <h5 class="modal-title">
                            Tambah Siklus
                        </h5>

                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"></button>

                    </div>

                    <div class="modal-body">

                        <div class="mb-3">

                            <label>Nama Siklus</label>

                            <input type="text"
                                name="nama"
                                class="form-control"
                                required>

                        </div>

                        <div class="mb-3">

                            <label>Keterangan</label>

                            <textarea name="keterangan"
                                    class="form-control"
                                    rows="3"></textarea>

                        </div>

                    </div>

                    <div class="modal-footer">

                        <button type="button"
                                class="btn btn-secondary btn-sm"
                                data-bs-dismiss="modal">

                            Batal

                        </button>

                        <button type="submit"
                                class="btn btn-primary btn-sm">

                            Simpan

                        </button>

                    </div>

                </form>

            </div>
        </div>

    </div>

    <!-- MODAL EDIT -->
    {% for siklus in siklus_list %}
    <div class="modal fade"
        id="modalEdit{{ siklus.id }}"
        tabindex="-1">

        <div class="modal-dialog">
            <div class="modal-content">

                <form method="post"
                    action="{% url 'siklus_edit' siklus.id %}"
                    class="form-edit">

                    {% csrf_token %}

                    <div class="modal-header">

                        <h5 class="modal-title">
                            Edit Siklus
                        </h5>

                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"></button>

                    </div>

                    <div class="modal-body">

                        <div class="mb-3">

                            <label>Nama Siklus</label>

                            <input type="text"
                                name="nama"
                                class="form-control"
                                value="{{ siklus.nama }}" 
                                required>

                        </div>

                        <div class="mb-3">

                            <label>Keterangan</label>

                            <textarea name="keterangan"
                                    class="form-control"
                                    rows="3">{{ siklus.keterangan }}</textarea>

                        </div>

                    </div>

                    <div class="modal-footer">

                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">

                            Batal

                        </button>

                        <button type="submit"
                                class="btn btn-warning">

                            Update

                        </button>

                    </div>

                </form>

            </div>
        </div>

    </div>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            
            // 1. Notifikasi Sukses dari Django Messages (Toast Style)
            {% for message in messages %}
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'success',
                    title: 'Berhasil!',
                    text: '{{ message|escapejs }}',
                    timer: 3000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                });
            {% endfor %}

            // 2. TAMBAH SIKLUS
            document.querySelectorAll(".form-tambah").forEach(form => {
                form.addEventListener("submit", function (e) {
                    e.preventDefault();
                    Swal.fire({
                        title: 'Simpan Data?',
                        text: "Siklus akan ditambahkan",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#198754',
                        cancelButtonColor: '#6c757d',
                        confirmButtonText: 'Ya, Simpan',
                        cancelButtonText: 'Batal'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            form.submit();
                        }
                    });
                });
            });

            // 3. EDIT SIKLUS
            document.querySelectorAll(".form-edit").forEach(form => {
                form.addEventListener("submit", function (e) {
                    e.preventDefault();
                    Swal.fire({
                        title: 'Update Data?',
                        text: "Perubahan siklus akan disimpan",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#ffc107',
                        cancelButtonColor: '#6c757d',
                        confirmButtonText: 'Ya, Update',
                        cancelButtonText: 'Batal'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            form.submit();
                        }
                    });
                });
            });

            // 4. DELETE SIKLUS
            document.querySelectorAll(".form-delete").forEach(form => {
                form.addEventListener("submit", function (e) {
                    e.preventDefault();
                    Swal.fire({
                        title: 'Hapus Data?',
                        text: "Data yang dihapus tidak dapat dikembalikan",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#dc3545',
                        cancelButtonColor: '#6c757d',
                        confirmButtonText: 'Ya, Hapus',
                        cancelButtonText: 'Batal'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            form.submit();
                        }
                    });
                });
            });

        });
    </script>

</main>
{% endblock %}